*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #161544;
}

footer{
    position:sticky;
    width: 100%;
    height: 200px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerdiv{
    display: flex;
    
}

/* .mediaicon{
    color: 'red';
    font-size: 24px;
} */
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
    margin: 30px;
}

.footer-content p{
    width:190px;
    margin: 40px;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
    color: #B4B3FC;
    font-size: 20px;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    transition-duration: .1s;
}
.list li:hover::before{
    color: #B4B3FC;
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
    font-size: 48px;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: #B4B3FC;
}

.social-icons i{
    color: #B4B3FC;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #B4B3FC;
}

a:hover{
    color: #DDFF00;
}
.social-icons :hover{
    transition-duration: .1s;
    color: #DDFF00;
}
.bottom-bar{
    background: #f5efea;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar a{
    color: #B4B3FC;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.copyright{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #B4B3FC;
}

.pa{
    color: #B4B3FC;
}

path{
    font-size: 48px;
    color: #B4B3FC;
}

.gmail{
    padding: 0;
    color: #DDFF00;
    font-size: 20px;
}