/* .page {
    background-color: 'rgb(2, 2, 62)';
    font-family: "Georgia, 'Times New Roman', Times, serif";
    min-height: '100vh';
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center', 
  }; /*